---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="O KGW"
	description="O kole gospodyń wiejskich"
	pubDate={new Date('December 19 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Tu opisać misję, cele i wstawić status KGW.
	</p>
</Layout>
